<app-cabecera titulo="DAM 1"></app-cabecera>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar>
        <img src="https://cdn-icons-png.flaticon.com/512/1208/1208833.png" />
      </ion-avatar>
      <ion-label> Programacion</ion-label>
      <ion-checkbox  [(ngModel)]="Prog" (click)="programacion()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="https://png.pngtree.com/png-vector/20190409/ourlarge/pngtree-html-file-document-icon-png-image_920406.jpg" />
      </ion-avatar>
      <ion-label> Lenguaje de Marcas</ion-label>
      <ion-checkbox  [(ngModel)]="Lenguaje" (click)="lenguaje()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="https://thumbs.dreamstime.com/b/base-de-datos-sql-icono-m%C3%B3vil-aislado-servidor-la-web-plana-con-palabra-del-ejemplo-vector-en-fondo-moderno-128839153.jpg" />
      </ion-avatar>
      <ion-label> Bases de Datos</ion-label>
      <ion-checkbox [(ngModel)]="BDD" (click)="base()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="https://previews.123rf.com/images/korionov/korionov1006/korionov100600100/7249597-icono-con-la-bandera-de-espa%C3%B1a-aislado-sobre-fondo-blanco.jpg" />
      </ion-avatar>
      <ion-label> Formacion y Orientacion Laboral</ion-label>
      <ion-checkbox  [(ngModel)]="FOL" (click)="fol()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="https://cdn-icons-png.flaticon.com/512/873/873151.png" />
      </ion-avatar>
      <ion-label> Sistemas Informaticos</ion-label>
      <ion-checkbox  [(ngModel)]="SI" (click)="sistemas()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="https://previews.123rf.com/images/tribalium123/tribalium1231609/tribalium123160900165/66527287-aprender-icono-del-ingl%C3%A9s.jpg" />
      </ion-avatar>
      <ion-label> Ingles</ion-label>
      <ion-checkbox  [(ngModel)]="ING" (click)="ingles()"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
