<ion-header>
  <ion-toolbar>
    <ion-title>Tabs</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
  
      <ion-tab-button tab="Dam1">
        <ion-icon name="desktop-outline"></ion-icon>
        <ion-label>DAM 1º</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="Dam2">
        <ion-icon name="finger-print-outline"></ion-icon>
        <ion-label>DAM 2º</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="Fct">
        <ion-icon name="headset-outline"></ion-icon>
        <ion-label>FCT</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
